.link-footer {
  padding: 20px 0 60px 0;
&__maps,
&__end {
  font-family: $fontPrimary;
  font-size: 14px;
  line-height: 2.1;
  letter-spacing: 0.03em;
  font-style: normal;
}
}
.link-footer__maps {
  color: $lightColor;
}
.link-footer__end {
    color: rgba(255, 255, 255, 0.6);
  }
.footer-social {
  text-transform: uppercase;
  font-style: normal;
  padding: 12px 0 20px 0;
}