.link-footer__maps,
&__end {
  font-family: $fontPrimary;
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  font-style: normal;
}
.link-footer__maps {
  color: $lightColor;
  &__end {
  color: rgba(255, 255, 255, 0.6);
  &:hover,
  &:focus {
  color: $themeColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
}
.end-body {
  display: flex;
  padding-top: 60px;
  column-gap: 70px;
}
.link-footer {
  padding: 20px 0 60px 0;
}
.footer-social {
  text-transform: uppercase;
  font-style: normal;
  padding: 12px 0 20px 0;
}
.footer-social-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-social-list__icon {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 12px;

  &:hover,
  &:focus {
    background-color: $themeColor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.footer-icon {
  fill: $lightColor;
}
.footer-social-list__icon svg:hover,
.footer-social-list__icon svg:focus {
  background-color: $themeColor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 .sgn-in-button {
    font-family: $fontPrimary;
    background-color: $themeColor;
    color: $lightColor;
    font-weight: 700;
    line-height: 1.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    letter-spacing: 0.06em;
    padding: 10px 28px 10px 42px;
    margin-left: 12px;
    display: inline-flex;
    align-items: center;
    text-align: center;
  }
  .sgn-in-icon {
    fill: $lightColor;
    margin-left: 24px;
  }
  .sgn-in-email {
    font-family: $fontPrimary;
    background-color: #2f303a;
    padding: 15px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $lightColor;
  }
  .sgn-in-footer {
    margin-left: 8px;
  }